.ToolbarMobile {
  display: grid;
  place-items: start;
  gap: 10px;
  width: 100%;
  font-size: 18px;
  height: 200px;
  max-height: auto;
  opacity: 100%;
  transition: transform 0.3s ease-in-out, height 0.3s ease-in-out;
}

.ToolbarMobilePage {
  margin: 0px 15px;
  display: flex;
  padding: 10px;
}

.ToolbarMobilePage p {
  margin: 0px;
  font-family: "Inter500";
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 501;
}

@media screen and (min-width: 960px) {
  .ToolbarMobile {
    display: none;
  }

  .ToolbarMobilePage {
    display: none;
  }

  .ToolbarMobilePage p {
    display: none;
  }
}
